:root {
    --dark-green: #1A2915;
    --sea-green: #3E885B;
    --lt-green: #85BDA6;
    --beige: #F5EDF0;
}


.headerStyles {
    background-color: var(--sea-green);
    margin-bottom: 0;
}

h1 {
    font-size: 35px;
    color: var(--beige);
    text-shadow: 1px 1px 5px var(--dark-green);
}

.navStyles {
    background-color: var(--lt-green);
    font-size: 20px;
}

.pageStyles {
    background-color: var(--beige);
    color: var(--dark-green);
}

.footerStyles {
    background-color: var(--sea-green);
    height: 150px;
}

