:root {
    --dark-green: #1A2915;
    --sea-green: #3E885B;
    --lt-green: #85BDA6;
    --beige: #F5EDF0;
}


.headerStyles {
    background-color: var(--sea-green);
    margin-bottom: 0;
}

h1 {
    font-size: 35px;
    color: var(--beige);
    text-shadow: 1px 1px 5px var(--dark-green);
}

.nav-item {
    font-size: 21px;
}
.nav-link:link {
    color: var(--beige);
    text-shadow: 0 0 5px var(--dark-green);
}
.nav-link:visited {
    color: var(--beige);
    text-shadow: 0 0 5px var(--dark-green);
}
.nav-link:hover {
    text-shadow: 0 0 5px var(--beige);
}

.loginSignup {
    background-color: var(--beige);
}
.card {
    box-shadow: 0 0 5px var(--dark-green);
    width: 60%;
}
.card-header {
    background-color: var(--sea-green);
    color: var(--beige);
    text-shadow: 0 0 5px var(--dark-green);
}
.card-body {
    background-color: var(--lt-green);
}
.form-input {
    border-radius: 5px;
    width: 75%;
    background-color: var(--beige);
}
.btn {
    background-color: var(--sea-green);
    color: var(--beige);
    box-shadow: 1px 1px 3px var(--dark-green);
}
.btn:hover {
    box-shadow: 0 0 0 var(--beige);
    background-color: var(--sea-green);
    color: var(--beige)
}

.footerStyles {
    background-color: var(--sea-green);
    height: 150px;
}

